<header class="header" id="header"><!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="assets/img/logo.png" alt=""></a> 
        </figure>   
        <h1 class="animated fadeInDown delay-07s">CopyCat</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>Detect duplicate messages in Slack channels.</li>
        </ul>
        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,bot&client_id=258316641222.456711531815"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="menu"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
            <li><a href="#features">Features</a></li>
            <li><a href="#support">Support</a></li>
            <li class="small-logo"><a href="#header"><img src="assets/img/small-logo.png" alt="" ></a></li>
            <li><a href="#privacy">Privacy</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->

<section class="main-section" id="features"><!--main-section-start-->
	<div class="container">
    	<h2>Features</h2>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-database"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>recent messages dataset</h3>
                        <p>
                            CopyCat has access to the dataset of recent messages posted in a channel, and uses
                            this dataset for detection of duplicate messages.
                        </p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-comments"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>various message types</h3>
                        <p>
                            CopyCat detect duplicates not only amongst text messages but messages containing emojis,
                            messages containing urls, and messages containing uploaded files of any type.
                        </p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-clock-o"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>24/7 availability</h3>
                        <p>
                            CopyCat is always available, and always working to detect duplicates.
                        </p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img src="assets/img/macbook-pro.png" alt="">
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->



<section class="main-section alabaster" id="support"><!--main-section alabaster-start-->
	<div class="container">
        <h2>Support</h2>
    	<div class="row">
            <div class="col-lg-7 col-sm-8 featured-work">
                <P class="padding-b">
                    Want to request a feature or leave feedback? Head over 
                    <a href="https://github.com/Chieze-Franklin/copy-cat/issues">here</a>
                </P>
                <!--<div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-02s">
                        <i class="fa-magic"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>Starting a conversation</h3>
                        <p>To start a conversation, use basic ice breakers like <code>hi</code>, <code>hello</code>, <code>good day</code>. Or you can just command me to
                        <code>start</code> or <code>begin</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-04s">
                        <i class="fa-gift"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>Ending a conversation</h3>
                        <p>To end a conversation, simply tell me <code>bye</code>, <code>later</code>. Or just type words like <code>end</code>, <code>stop</code>, 
                        <code>finish</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-06s">
                        <i class="fa-university"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>Asking for a subject</h3>
                        <p>At any time (even while we are working on a question) you can simply type the name of a subject, and we'll switch to that subject. You don't
                        even have to type the full name of the subject.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-arrow-right"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Going to the next question</h3>
                        <p>If you want to move to the next question just type <code>next</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-check"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Yes or no</h3>
                        <p>Most of the other responses I expect from you are <code>yes</code> or <code>no</code> answers.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-question"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Asking for help</h3>
                        <p>If you need help with something type <code>help</code> or <code>?</code>. You will be directed to this site to find what you are looking for.</p>
                    </div>    
                </div>-->
            </div>
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            	<img  src="assets/img/phone.png" alt="">
            </figure>
        </div>
	</div>
</section><!--main-section alabaster-end-->

<section class="main-section team" id="privacy"><!--main-section team-start-->
	<div class="container">
        <h2>privacy</h2>
        <P class="padding-b">
            We neither store nor share any data about users, channels, or the workspace as a whole.
        </P>
    </div>
</section><!--main-section team-end-->

<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>Let’s Talk.</h2>
    </div>
</section><!--business-talking-end-->
<div class="container">
<section class="main-section contact" id="contact">
	
        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="featured-box-col2 wow fadeInRight delay-04s">
                    <a href="https://chieze-franklin.github.io">Chieze Franklin</a>
                </div> 
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <div class="featured-box-col2 wow fadeInRight delay-04s">
                    <a href="https://github.com/Chieze-Franklin/copy-cat">Github</a>
                </div> 
            </div>
        </div>
</section>
</div>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#menu').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  </script>


<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
			
            filter: selector,
         });
         return false;
    });
  
});

</script>